/* 
 * Additional styling for querySQL pages
 */
/* 
 *  Created on : 16-Jan-2017
 *  Author     : Neueda
 */

/* Theme overrides (mostly colours) */

a, a:hover, a:focus {
    color: #6b9aff;
}
hr {
    color: #6b9aff;
}
p {
    font-size: 25px;
}
.navbar-default .navbar-header .navbar-brand,
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #6b9aff;
}
@media (min-width: 768px) {
    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: white;
    }
}
header {
    background: url("../img/bg-pattern.png"), #00ddec;
    background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #00ddec, #6b9aff);
    background: url("../img/bg-pattern.png"), linear-gradient(to left, #00ddec, #6b9aff);
}
.bg-primary header {
    background: transparent;
}
header .device-container {
    margin-top: auto;
}
@media (min-width: 768px) {
    header .device-container {
        margin: 100px auto 0;
    }
}
section {
    min-height: auto;
}
section.features .feature-item i {
    background: -webkit-linear-gradient(to left, #00ddec, #6b9aff);
    background: linear-gradient(to left, #00ddec, #6b9aff);
}
section.cta {
    background-image: url("../img/startup-photos.jpg");
}
.bg-primary {
    background: url("../img/bg-pattern.png"), #00ddec;
    background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #00ddec, #6b9aff);
    background: url("../img/bg-pattern.png"), linear-gradient(to left, #00ddec, #6b9aff);
}
.text-primary {
    color: #6b9aff;
}
.btn-outline {
    background-color: #888889;
    border-color: #ffffff;
}
/* End of theme overrides */

main {
    min-height: calc(100vh - 50px - 2.7em);
    padding: 100px 0;
}

abbr[data-original-title], abbr[title] {
    border-bottom: none;
    color: #6b9aff;
    text-decoration: none;
}

.mission-step {
    padding: 150px 0;
    position: relative;
}

section#about {
    padding: 0;
}

.heading-img {
    max-height: 20vh;
}

.btn-container {
    margin-top: 30px;
}

.chart
{
    background-color:#fff;
    color: #6b9aff;
    padding: 15px;
    font-family:Catamaran,Helvetica,Arial,sans-serif;
    font-weight:200;

    letter-spacing:1px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
}

.chartSQL
{
    background-color:#fff;
    color: #6b9aff;
    padding: 15px;
    font-family:Catamaran,Helvetica,Arial,sans-serif;
    font-weight:200;

    letter-spacing:1px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
}

#map {
    margin-bottom: 20px;
    min-height: 80vh;
}

.inline-img {
    display: inline-block;
}

/*Eamonn's styling stuff for querySQL page*/

/* Main content area */

#content {
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Header/footer boxes */

.wideBox {
    clear: both;
    text-align: center;
    margin: 70px;
    padding: 10px;
    background: #ebedf2;
    /*border: 1px solid #333;*/
}

.wideBox h1 {
    font-weight: bold;
    margin: 20px;
    color: #666;
    font-size: 1.5em;
}

/* The initial pile of unsorted cards */

#cardPile {
    clear: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em #888889;
    -webkit-box-shadow: 0 0 .3em #888889;
    box-shadow: 0 0 .3em #888889;
}

/* Slots for final card positions */

#cardSlots {
    background: #ffffff;
    color: #888889;
}

/* Individual cards and slots */
/* #cardSlots div, #cardPile div */
.cardSlot, .cardQuestions, .cardOption {
    float: left;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
    border-width: 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 5px;
    background: #fff;
}

.cardSlot.hovered {
    background: #aaa;
}

.cardSlot, .cardQuestions {
    color: #888889;
}

.cardSlot {
    border-color: #888889;
    border-style: dashed;
    min-width: 150px;
}

.cardSlot.filled {
    border: none;
}

.cardSlot > .cardOption {
    margin: 0;
}

.cardQuestions {
    border: none;
    font-weight: bold;
    width: auto;
}

.cardOption {
    background-color: #eee;
    border-color: #666666;
    border-style: solid;
    color: #666;
    cursor: move;
    font-size: 20px;
    min-width: 150px;
    padding: 0 15px;
    text-shadow: 0 0 3px #fff;
}

.cardOption:hover {
    background-color: #666;
    color: #fff;
}

.cardOption.ui-draggable-dragging {
    -moz-box-shadow: 0 0 .5em #888889;
    -webkit-box-shadow: 0 0 .5em #888889;
    box-shadow: 0 0 .5em #888889;
}

.cardOption.correct {
    background-color: #65b858;
    color: #fff;
}

.cardOption.incorrect {
    background-color: #ff0000;
    color: #fff;
}

.cardOption.ui-draggable-disabled {
    cursor: not-allowed;
}

/* "You did it!" message */
#successMessage {
    position: absolute;
    left: 580px;
    top: 250px;
    width: 0;
    height: 0;
    z-index: 100;
    background: #dfd;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
}

/*End of Eamonn's styling stuff for querySQL page*/

/*SQL container CSS*/

div.CodeMirror {
    border: 1px solid #ddd;
}
button {
    margin-top: 1em;
    margin-bottom: 1em !important;
}
#errorResult {
    color: red;
}

/*End of SQL container CSS*/   
