/* 
 * Additional styling for querySQL pages
 */
/* 
 *  Created on : 16-Jan-2017
 *  Author     : Neueda
 */

/* Theme overrides (mostly colours) */

html > body {
    height: auto;
    min-height: 100%;
}
a, a:hover, a:focus {
    color: #6b9aff;
}
hr {
    color: #6b9aff;
}
p {
    font-size: 25px;
}
.navbar-default .navbar-header .navbar-brand,
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #6b9aff;
}
@media (min-width: 768px) {
    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: white;
    }
}
header {
    background: url("../theme/img/bg-pattern.png"), #00ddec;
    background: url("../theme/img/bg-pattern.png"), -webkit-linear-gradient(to left, #00ddec, #6b9aff);
    background: url("../theme/img/bg-pattern.png"), linear-gradient(to left, #00ddec, #6b9aff);
}
.bg-primary header {
    background: transparent;
}
header .device-container {
    margin-top: auto;
}
@media (min-width: 768px) {
    header .device-container {
        margin: 100px auto 0;
    }
}
section {
    min-height: auto;
}
section.features .feature-item i {
    background: -webkit-linear-gradient(to left, #00ddec, #6b9aff);
    background: linear-gradient(to left, #00ddec, #6b9aff);
}
section.cta {
    background-image: url("../img/startup-photos.jpg");
}

.tooltip{

    font-size:16px;
}

.bg-primary {
    background: url("../theme/img/bg-pattern.png"), #00ddec;
    background: url("../theme/img/bg-pattern.png"), -webkit-linear-gradient(to left, #00ddec, #6b9aff);
    background: url("../theme/img/bg-pattern.png"), linear-gradient(to left, #00ddec, #6b9aff);
}
.text-primary {
    color: #6b9aff;
}
.btn-outline {
    background-color: #888889;
    border-color: #ffffff;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(89, 127, 165);
    background-color: rgba(89, 127, 165, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
   
}


.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    
    text-align: center;
    padding: 15px 32px;
    width: 180px;
    margin: auto;
    top: 50%;
    right: 50%;
    font-size: 30px;
    display: block;
    color: rgb(89, 127, 165);
    background-color: #ffffff;
border-radius: 25px;
        
}

/* End of theme overrides */

main {
    min-height: calc(100vh - 50px - 2.7em);
    padding: 100px 0;
}

abbr[data-original-title], abbr[title] {
    border-bottom: none;
    color: #6b9aff;
    text-decoration: none;
}

.mission-step {
    padding: 150px 0;
    position: relative;
}

section#about {
    padding: 0;
}

.heading-img {
    max-height: 20vh;
}

.btn-container {
    margin-top: 30px;
}

.chart
{
    background-color:#fff;
    color: #6b9aff;
    padding: 15px;
    font-family:Catamaran,Helvetica,Arial,sans-serif;
    font-weight:200;

    letter-spacing:1px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
}

.chartSQL
{
    background-color:#fff;
    color: #6b9aff;
    padding: 15px;
    font-family:Catamaran,Helvetica,Arial,sans-serif;
    font-weight:200;

    letter-spacing:1px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
}

.map-container {
    position: relative;
}

.map-controls {
    left: 1em;
    position: absolute;
    top: 0;
    z-index: 50;
}

#crime-piechart {

position: absolute;
background-color: #ffffff;
box-shadow: 4px 4px 5px #444444;
width: 270px;
height: 280px;
bottom: 10px;
right:10px;
z-index:55;

}

#legend {

z-index:55;
position: absolute;
background-color: #ffffff;
width:175px;
height:280px;
bottom: 10px;
right: 280px;
box-shadow: 0px 4px 5px #444444;

}

#postcode {
    box-shadow: 4px 4px 5px #444444;
    margin-top: 1em;
    padding: 6px 12px;
}

#postcode-error {
    background-color: #ffffff;
    box-shadow: 4px 4px 5px #444444;
    padding: 6px 12px;
}

#map {
    margin-bottom: 20px;
    min-height: 80vh;
    z-index: 1;
}

.inline-img {
    display: inline-block;
}

.table{
    max-height:100%; 
    max-width:100%;
}



/* Main content area */

#content {
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Header/footer boxes */

.wideBox {
    clear: both;
    text-align: center;
    margin: 70px;
    padding: 10px;
    background: #ebedf2;
    /*border: 1px solid #333;*/
}

.wideBox h1 {
    font-weight: bold;
    margin: 20px;
    color: #666;
    font-size: 1.5em;
}

footer .logo {
    height: 28px;
    margin: 25px;
    width: 100px;
}

/* The initial pile of unsorted cards */

#cardPile {
    clear: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em #888889;
    -webkit-box-shadow: 0 0 .3em #888889;
    box-shadow: 0 0 .3em #888889;
}

/* Slots for final card positions */

#cardSlots {
    background: #ffffff;
    color: #888889;
}

/* Individual cards and slots */
/* #cardSlots div, #cardPile div */
.cardSlot, .cardQuestions, .cardOption {
    float: left;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
    border-width: 2px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 5px;
    background: #fff;
}

.cardSlot.hovered {
    background: #aaa;
}

.cardSlot, .cardQuestions {
    color: #888889;
}

.cardSlot {
    border-color: #888889;
    border-style: dashed;
    min-width: 150px;
}

.cardSlot.filled {
    border: none;
}

.cardSlot > .cardOption {
    margin: 0;
}

.cardQuestions {
    border: none;
    font-weight: bold;
    width: auto;
}

.cardOption {
    background-color: #eee;
    border-color: #666666;
    border-style: solid;
    color: #666;
    cursor: move;
    font-size: 20px;
    min-width: 150px;
    padding: 0 15px;
    text-shadow: 0 0 3px #fff;
}

.cardOption:hover {
    background-color: #666;
    color: #fff;
}

.cardOption.ui-draggable-dragging {
    -moz-box-shadow: 0 0 .5em #888889;
    -webkit-box-shadow: 0 0 .5em #888889;
    box-shadow: 0 0 .5em #888889;
}

.cardOption.correct {
    background-color: #65b858;
    color: #fff;
}

.cardOption.incorrect {
    background-color: #ff0000;
    color: #fff;
}

.cardOption.ui-draggable-disabled {
    cursor: not-allowed;
}

.demo-table {
    margin-bottom: 25px;
    max-width: 100%;
}

.demo-table:last-child {
    margin-bottom: 0;
}

/* "You did it!" message */
#successMessage {
    position: absolute;
    left: 580px;
    top: 250px;
    width: 0;
    height: 0;
    z-index: 100;
    background: #dfd;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
}

/*End of Eamonn's styling stuff for querySQL page*/

/*SQL container CSS*/

div.CodeMirror {
    border: 1px solid #ddd;
}
button {
    margin-top: 1em;
    margin-bottom: 1em !important;
}
#errorResult {
    color: red;
}

/*End of SQL container CSS*/   
